body{
    font-family: 'Montserrat', sans-serif;
}
.nav-item .nav-link{
    text-align: center;
}
h1{
    margin-top: 10px;
    font-weight: bold;
}
.container{
    background-color: aquamarine;
    font-weight: bold;
    margin-top: 20px;
}
.container p{
    margin-left: 20px;
    margin-right: 20px;
    font-style: italic;
}
h2{
    font-weight: bold;
}